@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

/* Nav */
nav {
  background-color: #af9a78;
  overflow: hidden;
}

nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-link {
  font-size: 1.7rem;
  color: #444;
  padding: 1rem 0;
  line-height: 2;
  max-width: 80rem;
}

.nav-link:hover {
  font-size: 1.7rem;
  color: #ffffff;
  padding: 1rem 0;
  line-height: 2;
  max-width: 80rem;
}

/* end */

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: #55aa7a;
  border-radius: 1rem;
}

section {
  padding: 8rem 7%;
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: #55aa7a;
  text-transform: uppercase;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
}
.heading2 {
  text-align: left;
  font-size: 4rem;
  color: #fffefe;
  text-transform: uppercase;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
}

/* header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

/* home */

.home {
  min-height: 67.5vh;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: top;
  /*border-radius: 0% 0% 50% 50% / 0% 0% 20% 20%;*/
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  padding-bottom: 30px;
}

.home .content {
  max-width: 60rem;
}

.home .content h3 {
  font-size: 6rem;
  line-height: 1.4;
  font-weight: 400;
}

/* end */

/* welcome */

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem 0;
}

.welcome p {
  font-size: 1.7rem;
  color: #444;
  padding: 1rem 0;
  line-height: 2;
  max-width: 80rem;
}

/* end */

/* about */

.about {
  background-color: #af9a78;
}
.about .box-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
}

.about .box-container .image {
  flex: 1 1 31rem;
}

.about .box-container .image img {
  width: 105%;
  border-radius: 39% 61% 81% 15% / 68% 33% 40% 22%;
}

.about .content {
  flex: 1 1 41rem;
}

.content ul {
  list-style: none;
  padding-left: 0;
}

.content li {
  margin-bottom: 15px;
  color: #444;
  font-size: 1.7rem;
}

.content i {
  margin-right: 10px;
  font-size: 2.2rem;
}

/* end */

/* gallery */

.gallery {
  background: white;
}

.gallery .slide .image {
  height: 30rem;
  overflow: hidden;
  position: relative;
}

.gallery .slide .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
}

/* end */

/* footer */

.footer {
  padding: 40px 0;
  background-color: #af9a78;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer .social a {
  font-size: 24px;
  color: inherit;
  color: white;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer .social a:hover {
  opacity: 0.9;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a {
  color: #ccc;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a:hover {
  opacity: 1;
}

.footer .title {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: white;
}
